@using Syncfusion.Blazor.Popups

<RgfGridColumnSettingsComponent BaseDataComponent="BaseDataComponent">
    <SettingsTemplate Context="RgfColSettings">
        <table class="tablesorter">
            <thead>
                <tr>
                    <th>@RecroDict.GetRgfUiString("Name")</th>
                    <th style="text-align:center">@RecroDict.GetRgfUiString("Position")</th>
                    <th style="text-align:center">@RecroDict.GetRgfUiString("Width")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var settings in RgfColSettings.Columns)
                {
                    var col = settings;
                    <tr>
                        <td class="@col.CssClass" style="white-space:nowrap">@(col.PathTitle ?? col.Property.ColTitle)</td>
                        <td>
                            <SfNumericTextBox TValue="int?" @bind-Value="@col.ColPosOrNull" Width="125px" />
                        </td>
                        <td>
                            <SfNumericTextBox TValue="int?" @bind-Value="@col.ColWidthOrNull" Width="125px" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </SettingsTemplate>
</RgfGridColumnSettingsComponent>

@inject IRecroDictService RecroDict
@code {

    [Parameter, EditorRequired]
    public RgfDataComponentBase BaseDataComponent { get; set; } = null!;
}